################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/GBastos.CRUD/v16/Server/sqlite3
